
.links {
  border-right: solid 2px black; 
  margin-top: 75px; 
   margin-left: 10px;
   margin-right: 0px; 
  padding-right: 0px; 
  justify-content: left;

}

.navbar {
  margin-bottom: 35px; 
  width: 100%;
  background-color: #D3D3D3 ;
  color: #800000 ;
  text-align: center;
}
.bodyhome {
  background-image: url("./assets/lakefront2.jpg");
  background-repeat: no-repeat;
  height: 1000px; 
      
}


.projectbody {
  margin-bottom: 40px;
  border-bottom: dashed; 


}

.projectheader {
  text-align: center;
}

.homebutton {
  position: relative;
  left: 75%; 
  top: 7%; 
  border-radius: 50%; 
  border: solid 2px #8B0000; 
  color: #8B0000;
  font-size: 30px;
  height: 140px; 
  width: 140px;
  justify-content: center;
  background-color: #da9541 ; 

}

.footer {
  position: fixed;
  margin-top: 55px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #D3D3D3 ;
  color: #800000;
  text-align: center;


}

.biopic {
  margin-bottom: 12px; 
  border: solid 2px black; 
}

.canal {
  margin-top: 12px;
  border: solid 2px black; 
}
