.links {
   margin-left: 10px;
   margin-right: 0px; 
  padding-right: 0px; 
  justify-content: left;

}
.navbar {
  margin-bottom: 35px; 
  width: 100%;
  background-color: #bdb768 ;
  color: #8b008b;
  text-align: center;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bdb768 ;
  color: #8b008b;
  text-align: center;


}

.biopic {
  margin-bottom: 12px; 
}

.canal {
  margin-top: 12px;
}
