

.links {
  border-right: solid 2px black; 
   margin-left: 10px;
   margin-right: 0px; 
  padding-right: 0px; 
  justify-content: left;

}
.navbar {
  margin-bottom: 35px; 
  width: 100%;
  background-color: #F0FFF0 ;
  color: #800000 ;
  text-align: center;

}



.projectbody {
  margin-bottom: 40px;
  border-bottom: dashed; 


}

.projectheader {
  text-align: center;
}

.homebutton {
  justify: right; 
  border: solid 2px #8b008b; 
  color:  #8b008b;
  padding-top: 25px; 
  font-size: 30px;
  width: 100px;
  text-align: center; 
  justify-content: center;
  background-color: honeydew ; 

}

.footer {
  position: fixed;
  margin-top: 55px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F0FFF0;
  color: #800000;
  text-align: center;


}

.biopic {
  margin-bottom: 12px; 
  border: solid 2px black; 
}

.canal {
  margin-top: 12px;
  border: solid 2px black; 
}
